header{
    background-color: rgb(254, 183, 75);
}
section.my-articles{
    background-color: rgb(53, 52, 51);
}
header p{
    color: red;
}
li a{
    color: red;
}
section.my-articles > h2{
    color: greenyellow;
}
section.my-articles h2+p{
    color: orange;
}